<div class="container" *ngFor="let item of data  | paginate: { itemsPerPage: 10, currentPage: page}; let index= index ">
  <div class="el row">
    <div class="img">
      <a href={{item.owner.html_url}}>
        <img src={{item.owner.avatar_url}} alt="user img" width="100%">
      </a>
    </div>
    <div class="text">
      <h2 class="repo-name">
        <a href={{item.html_url}}>
          {{item.name}}
        </a>
      </h2>
      <!-- if we have no description , No description will show -->
      <p class="description" *ngIf="item.description == null else elseBlock">
        No description
      </p>

      <ng-template #elseBlock>
        <p class="description"> {{item.description}}</p>
      </ng-template>
      <p >
        <span class="star">{{item.stargazers_count}}&#9733; </span>
        <span class="star">{{item.open_issues_count}}&#9737; </span>
        sumbited {{since[index] }} years ago by
        <a href={{item.owner.html_url}}>
          {{item.owner.login}}
        </a>
      </p>

    </div>
  </div>
</div>
<pagination-controls (pageChange)="page = $event" align="center"></pagination-controls>
